@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Pixelify+Sans:wght@400..700&display=swap');

body {
    background-color: #F2B3CA;
    color: black;
    font-family: Arial, sans-serif;
    transition: 0.3s;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.corpo {
  margin: 0 auto;
  width: 600px;
  background-color: white;
  padding: 20px;
}

#paragrafos, #calculadora {
    margin: 10px auto 20px auto;
    padding: 20px;
    border-width: 1.5px;
    border-color: #c8cf02;
    border-style: solid;
    width: 250px;
}

#p1 {
    font-family: "Pixelify Sans", sans-serif;
    color: #3DCBD9;
    font-size: 30px;
    font-weight: 500;
}

#p2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Pixelify Sans", sans-serif;
    color: #c8cf02;
    font-size: 18px;
    font-weight: 500;
}

#questao5 {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}

.alto-contraste {
    background-color: black;
    color: white;
}

.alto-contraste .corpo {
    background-color: #F2B3CA;
    color: white;
}

.alto-contraste #p2 {
    color: darkgreen;
}

.alto-contraste #paragrafos, .alto-contraste #calculadora{
    border-color: darkgreen;
}

.alto-contraste #valor {
    color: deeppink;
}

.alto-contraste #valor-resultado {
    color: darkgreen;
}

.alto-contraste #calc {
    color: deeppink;
}

.alto-contraste #p1 {
    color: mediumblue;
}

.estilo-botoes {
    background-color: #F288B9;
    color: white;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    font-size: 13.5px;
    cursor: pointer;
}

.estilo-botoes:hover {
  background-color: #F2BDD0;
}

button {
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
}

#entrada, #saida {
    padding: 10px;
    width: 350px;
    height: 80px;
    overflow: visible;
    resize: none;
    margin-top: 15px;
    margin-bottom: 25px;
}

#calc {
    color: palevioletred;
    font-weight: 500;
    font-size: 15px;
    font-family: "Pixelify Sans", sans-serif;
}

#num1 {
    margin-top: 15px;
}

#valor {
    color: #c8cf02;
}

#valor-resultado {
    color: palevioletred;
}